@font-face {
    font-family: Assistant-Bold;
    src: url('../fonts/Assistant-Bold.ttf') format('truetype');
    font-style: normal;
  }
  
  @font-face {
    font-family: Assistant-Light;
    src: url('../fonts/Assistant-Light.ttf') format('truetype');
    font-style: normal;
  }
  
  @font-face {
    font-family: Assistant-Medium;
    src: url('../fonts/Assistant-Medium.ttf') format('truetype');
    font-style: normal;
  }
  
  @font-face {
    font-family: Assistant-Regular;
    src: url('../fonts/Assistant-Regular.ttf') format('truetype');
    font-style: normal;
  }
  