// Mixin for typography Typography
@mixin typography($size, $line-height, $spacing) {
    font-size: #{$size * 0.0625}rem !important;
    letter-spacing: #{$spacing * 0.0625}rem !important;
    line-height: #{$line-height * 0.0625}rem !important;
  }
  
  h {
    &1 {
      @include typography(57, 64, 0);
    }
  
    &2 {
      @include typography(45, 52, 0);
    }
  
    &3 {
      @include typography(36, 44, 0);
    }
  
    &4 {
      @include typography(32, 40, 0);
    }
  
    &5 {
      @include typography(28, 36, 0);
    }
  
    &6 {
      @include typography(24, 32, 0);
    }
  }
  
  .title {
    &--large {
      @include typography(22, 28, 0);
    }
  
    &--medium {
      @include typography(16, 24, 0.15);
    }
  
    &--small {
      @include typography(14, 20, 0.1);
    }
  }
  
  .body {
    &--large {
      @include typography(16, 24, 0.15);
    }
  
    &--medium {
      @include typography(14, 20, 0.25);
    }
  
    &--small {
      @include typography(12, 16, 0.4);
    }
  }
  
  .label {
    &--large {
      @include typography(14, 20, 0.1);
    }
  
    &--medium {
      @include typography(12, 16, 0.5);
    }
  
    &--small {
      @include typography(11, 16, 0.5);
    }
  }
  